[submodule "fe-sneaker-daily"]
	path = fe-sneaker-daily
	url = https://github.com/hadesdday/fe-sneaker-daily
[submodule "be-sneaker-daily"]
	path = be-sneaker-daily
	url = https://github.com/hadesdday/be-sneaker-daily
[submodule "admin-sneaker-daily"]
	path = admin-sneaker-daily
	url = https://github.com/hadesdday/admin-sneaker-daily